{% extends 'base.html' %}
{% block contenido %}

<section class="py-5 bg-dark">
    <div class="container my-5">
        <div class="row justify-content-center">
            {% if bebida %}
            <div class="col-lg-6">
                <p class="lead" style="color: red">¿Estás seguro de que deseas eliminar el producto {{bebida.nombre}}?
            <form action="/bebidas/eliminar-bebida/{{bebida.id}}/" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">Eliminar</button>
            </form>
            </div>
            {% else %}
            <div class="col-lg-6">
                <p class="lead" style="color: red">{{message}}</p>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <a class="btn btn-outline-light" aria-current="page" href="/bebidas/">Volver al menú</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}