{% extends 'base.html' %}
{% block index %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Restaurant Python</h1>
            <p class="lead fw-normal text-white-50 mb-0">Porque codear te abre el apetito</p>
        </div>
    </div>
</header>

<section class="py-5 bg-light">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Bienvenido a nuestro restaurant</h2>
                <p class="lead">Acá podrás encontrar la comida que más te gusta, combinarla con tus bebidas favoritas y pasarla bien.</p>
                <p class="mb-0">Paseate un rato por nuestro menú y elige tus opciones o incluye nuevas recetas. ¡Estamos para servirte!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}